/* Mi código CSS */

body {
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
  }

#footer-logo {
  width: 8rem;
}
  
  /*****************************************************************
  
      HEADER
  
  /*****************************************************************/
  