body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

.navbar2 {
  border-bottom: 4px solid #fb8b04;
}

#carousel {
  max-height: 36vw;
  height: 600px;
}

.carousel-img {
  height: 36vw;
  object-fit: cover;
}

#footer {
  margin-top: auto;
  border-top: 4px solid #fb8b04;
}

#footer-logo {
  width: 10rem;
}

.logo {
  width: 10rem;
}

.card {
  width: 100%;
}



.imgAuto {
  object-fit: cover;
  width: 100%;
  height: 16rem;
}

.imgVentas {
  object-fit: fill;
}

#imgAboutUs {
  width: 30rem;
  border: 1px solid grey;
  padding: 2px;
}

.bi-star-fill {
  color: #fb8b04;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.badge-hover {
  transition: transform 0.2s ease-in-out;
}

.badge-hover:hover {
  transform: scale(1.1);
}

.badge {
  background-color: #fb8b04;
}
