body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

#carousel {
  max-height: 36vw;
  height: 600px;
}

.navbar2 {
  border-bottom: 4px solid orange;
}

#carousel {
  max-height: 36vw;
  height: 600px;
}
.carousel-img {
  height: 36vw;
  object-fit: cover;
}

#footer {
  border-top: 4px solid orange;
  /* position: absolute; */
  bottom: 0;
  width: 100%;
}

#footer-logo {
  width: 10rem;
}

.logo {
  width: 10rem;
}

.card {
  width: 100%; 
}


.imgAuto {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.imgVentas {
  object-fit: fill;
}

#imgAboutUs {
  width: 30rem;
  border: 1px solid grey;
  padding: 2px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.bi-star-fill {
  color: orange;
}
